<div class="row col-12 flex">
  <div class="col-3">
    <div id="sidebar-wrapper">
      &nbsp;
      <div class="list-group list-group-flush">
        <a href="/ui/character/create" class="list-group-item list-group-item-action"><i class="th character"></i>Characters</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="th accuracy"></i>Artifacts</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="th sets"></i>Sets</a>
      </div>
    </div>
  </div>

  <div class="col-5">
    <div class="list-group list-group-flush">
      {{#each player.Characters}}
      {{name}}
      {{/each}}
    </div>
    <div class="list-group list-group-flush">
      {{#each player.Artifacts}}
      {{name}}
      {{/each}}
    </div>
  </div>

  <div class="col-3">
    {{> bg/randomChar class="bg" }}
  </div>

</div>