<div class="row col-12 flex">
    <div class="col-3">
        <div id="sidebar-wrapper">
            <div class="sidebar-heading">{{authUser.emailAddress}}</div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action"><i class="th character"></i>Characters</a>
                <a href="#" class="list-group-item list-group-item-action"><i class="th accuracy"></i>Artifacts</a>
                <a href="#" class="list-group-item list-group-item-action"><i class="th sets"></i>Sets</a>
            </div>
        </div>
    </div>

    <div class="col-8">
        <i class="th life"></i>
        <i class="th accuracy"></i>
        <i class="th curing"></i>
    </div>
</div>