<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {{> head }}

</head>

{{> background }}
<div class="container">
  {{> navbar }}
  {{{body}}}
  {{> modal }}
</div>

<script src="../js/custom.js"></script>

</body>

</html>