<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {{> head }}

</head>
{{> background }}
{{> navbar }}

<div class="container">
  {{{body}}}
</div>

{{> modal }}

<script src="../js/custom.js"></script>

</body>

</html>