<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{> head }}
</head>

<body>

{{!-- {{> background }} --}}
{{> navbar }}

<section class="py-5">
<div class="container">

    <div class="mb-3">
      <button data-toggle="modal" data-target="#modal_simple" class="btn btn-primary" type="button">  Modal simple  </button>
      <button data-toggle="modal" data-target="#modal_aside_right" class="btn btn-primary" type="button">  Modal aside right  </button>
      <button data-toggle="modal" data-target="#modal_aside_left" class="btn btn-primary" type="button">  Modal aside left  </button>
    </div>

    {{{body}}}

    <p>
      
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

</div>

</section>
{{> modal }}
<script src="../js/custom.js"></script>
</body>
</html>