#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
  }
  /**** MEGAMENU ****/
  @media all and (min-width: 992px) {
    .navbar{ padding-top: 0; padding-bottom: 0; }
    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
    .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
  }

.navbar-toggler {
  padding:0.25rem 0.75rem;
  font-size:2rem;
  line-height:1;
  background-color:transparent;
  border:1px solid transparent
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration:none
}
.navbar-toggler-icon {
  display:inline-block;
  width:1.5em;
  height:1.5em;
  vertical-align:middle;
  content:"^";
  background:no-repeat center center;
  background-size:100% 100%
}